html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

.bg-custom-login {
  background-color: #0e172a !important;
}

.bg-custom-login-input {
  background-color: #fefcfd !important;
}

.bg-custom-login-btn {
  background-color: #eff9f0 !important;
}

.custom-switch.form-check-input {
  background-color: #000 !important;
  border-color: #000 !important;
  border-radius: 6px !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3crect width='6' height='6' x='-3' y='-3' rx='1.5' fill='%23eff9f0'/%3e%3c/svg%3e") !important;
}

.custom-switch.form-check-input:checked {
  background-color: #eff9f0 !important;
  border-color: #0e172a !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3crect width='6' height='6' x='-3' y='-3' rx='1.5' fill='black'/%3e%3c/svg%3e") !important;
}

.custom-switch.form-check-input:focus {
  box-shadow: none !important;
  border-color: #000 !important;
}

.btn-icon-block,
.btn-icon-delete {
  color: #4a5568;
}

.btn-icon-block:hover {
  color: #dd6b20;
}

.btn-icon-delete:hover {
  color: #e53e3e;
}
